* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: "Parisienne", sans-serif;
    font-size: 104px;
    color: black;
}


p {
    font-family: "Quando", serif;
    font-size: 18px;
    color: black;
}

body {
    background-image: url('cover.png');
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.header {
    text-align: center;
}

#button {
    padding: 0 25px;
    height: 60px;
    border: none;
    font-size: 18px;
    background-color: #F6851F;
    color: white;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: "Quando", serif;
    font-weight: 100;
}

#buttonMessage {
    width: 850px;
    height: 60px;
    border: none;
    font-size: 30px;
    color: black;
    display: block;
    margin: 25px auto;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: "Quando", serif;
    font-weight: 100;
    text-align: center;
}

.button {
    margin-top: 40px;
}

#langButton {
    position: absolute;
    top: 30px; 
    right: 30px;
    padding: 8px 15px;
    border: 1px solid #F6851F;
    border-radius: 50px;
    color: #F6851F;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #F6851F;
}


#langButton:hover {
    background-color: #F6851F;
    color: white;
}


@media (max-width: 768px) {
    body {
        background-image: url('cover-mobile.png');
    }
    h1 {
        font-size: 55px;
    }
    p {
        font-size: 16px;
        max-width: 250px;
        margin: 0 auto;
    }
    #button {
        height: 50px;
        font-size: 14px;
    }
    #buttonMessage {
        width: 250px;
        height: 60px;
        border: none;
        font-size: 20px;
        margin: 25px auto;
        margin-bottom: 5px;
    }
}
